* {
    color: black;
    transition: background-color 0.3s;
}

.examples {
    margin-left: 13%;
}

.box {
    border: 2px solid #333;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
}

.headers {
    margin-left: 32%;
    display:flex;
    align-items: center;
    gap: 100px;
}

.headers p {
    color: black;
    background-color:rgb(174, 170, 230);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size:medium;
    padding: 1%;
    width: 300px;
    margin-left: 0;
}

caption {
    text-align: center;
    background-color: rgb(174, 170, 230);
    border-radius: 10px;
    border: 1px solid white;
    padding: 3%;
}


th, td {
    text-align: center;
    background-color: rgb(174, 170, 230);
    border-radius: 10px;
    border: 1px solid white;
    border-spacing: 20px;
    padding: 3%;
    width: 120px;
}

.headers h1, .headers h2, .headers h3, .headers h4, .headers h5, .headers h6 {
    color: black;
    font-size: 60px;
    background-color:rgb(174, 170, 230);
    padding: 1%;
    text-align: center;
    width: 500px;
    display: inline-block;
    border-radius: 10px;
}

.mainButtons {
    display:flex;
    align-items: center;
    gap: 10px;
}

.mainButtons button{
    background-color: rgb(29, 18, 101);
    padding: 0%;
    color: white;
    border: none;
    font-size: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.mainButtons img{
    width: 50px; 
    height: 50px;
}

.mainButtons button:hover{
    background-color: rgb(70, 54, 172);
}

hr {
    background-color: rgb(99, 91, 207);
    height: 2px;
    border: none;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, th:hover, td:hover, caption:hover {
    background-color:rgb(220, 218, 251);
}

a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(246, 103, 127);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: tan;
    background-color: transparent;
    text-decoration: none;
}